.icon {
    width: 24px;
    height: 24px;
}

.row_container {
    display: flex;
    align-items: center;
    gap: 8px;

    min-width: 0;
}

.row_container a,
.row_container p {
    overflow-wrap: anywhere;
    word-break: break-word;
    min-width: 0;
}

.infoPanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 0px 0 10px 0;
}
