.progressBar {
    width: 100%;
}

.progressContainer {
    width: 100%;
    height: 6px;
    background-color: #e0e0e0;
    border-radius: 6px;
    overflow: hidden;
}

.progressFill {
    height: 100%;
    background-color: #fdd835;
    width: 0;
    border-radius: 6px;
    transition: width 0.3s ease;
}
